footer.footer
  .container
    .footer__content
      .footer__colums
        .footer__logo
          nav.footer__logotype
            a(href='#')
              | DREAMSHARE
      .footer__colums
        .title
          h2 Company
        nav.list
          ul
            li About
            li Contact
            li Press
            li Blog
            li Terms and Privacy
            li Help
      .footer__colums
        .title
          h2 Partners
      .footer__colums
        .subtitle
          h2 DESIGNED BY
        .footer-img
          img(src='style/images/footer-img.png', alt='#')