header.header
  .container
    .header__top
      nav.logotype
        a(href='#')
          | DREAMSHARE
      nav.registration-menu
        a.Log-in(href='#') Log in
        a.sign-up(href='#') Sign up
    .header-top
      nav.registration-menu
        a.Log-in(href='#') Log in
        a.sign-up(href='#') Sign up
      nav.logotype
        a(href='#')
          | DREAMSHARE
    .header__bottom
      hgroup.title
        h1 SHARE YOUR
        h1 HOLIDAY DREAM
      hgroup.subtitle
        h2 And find the perfect partner to fullfill it
      .button
        button
          a(href='#') Find your holiday partner