main.main
  .container
    .main__title
      h2 How Dreamshare works?
    .main__imges
      figure.img
        img.lol(src='style/images/step1.png', alt='#')
        .img__shadow
        figcaption.img__text
          .button
            button
              a(href='#') STEP 1
          .title
            h2 Sed leo enim, condimentum
          .paragraph
            p
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
              | amet facilisis.
      figure.img
        img(src='style/images/step2.png', alt='#')
        .img__shadow
        figcaption.img__text
          .button
            button
              a(href='#') STEP 2
          .title
            h2 Morbi velit risus
          .paragraph
            p
              | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
      figure.img
        img(src='style/images/step3.png', alt='#')
        .img__shadow
        figcaption.img__text
          .button
            button
              a(href='#') STEP 3
          .title
            h2 Sed leo enim, condimentum
          .paragraph
            p
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
              | amet facilisis.
    .main__title
      h2 Meet a partner for your best holiday
    .main__avatar
      figure.avatar.avatar-icon.avatar-icon_music
        img(src='style/images/Bitmap1.png', alt='#')
        figcaption.avatar__text
          .title
            h2 Bradley Hunter
          .paragraph
            p Based in Chicago. I love playing tennis and loud music.
      figure.avatar.avatar-icon.avatar-icon_brush.avatar_brush
        img(src='style/images/Bitmap2.png', alt='#')
        figcaption.avatar__text
          .title
            h2 Marie Bennett
          .paragraph
            p Currently living in Colorado. Lover of art, languages and travelling.
      figure.avatar.avatar-icon.avatar-icon_camera.avatar_camera
        img(src='style/images/Bitmap3.png', alt='#')
        figcaption.avatar__text
          .title
            h2 Diana Wells
          .paragraph
            p
              | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
      figure.avatar.avatar-icon.avatar-icon_airplane.avatar_airplane
        img.avatar-img(src='style/images/Bitmap4.png', alt='#')
        figcaption.avatar__text
          .title
            h2 Christopher Pierce
          .paragraph
            p Star Wars fanatic. I have a persistent enthusiasm to create new things.
    .avatar-button
      button.avatar-button__button
        a(href='#') See other partners
    .main__title
      h2 Discover holiday activity ideas
    .main__column-images
      .column-images
        figure.img
          img.img1(src='style/images/Bitmap1-1.png', alt='#')
          img.img2(src='style/images/Bitmap10.png', alt='#')
          .img__shadow
          figcaption.img__title
            h2 Sports and Activis
        figure.img
          img.img1(src='style/images/Bitmap2-2.png', alt='#')
          img.img2(src='style/images/Bitmap11.png', alt='#')
          .img__shadow
          figcaption.img__title
            h2 Wellness and Health
        figure.img
          img.img1(src='style/images/Bitmap3-3.png', alt='#')
          img.img2(src='style/images/Bitmap12.png', alt='#')
          .img__shadow
          figcaption.img__title
            h2
              | Extreme Sports
              | and Expeditions
      .column-images.column-images_two
        figure.img
          img.img1(src='style/images/Bitmap4-4.png', alt='#')
          img.img2(src='style/images/Bitmap13.png', alt='#')
          .img__shadow
          figcaption.img__title
            h2 Games
        figure.img.img_two
          img.img1(src='style/images/Bitmap5-5.png', alt='#')
          img.img2(src='style/images/Bitmap14.png', alt='#')
          .img__shadow
          figcaption.img__title
            h2 Culture and Education
      .column-images.column-images_three
        figure.img.img_two
          img.img1(src='style/images/Bitmap6-6.png', alt='#')
          img.img2(src='style/images/Bitmap15.png', alt='#')
          .img__shadow
          figcaption.img__title
            h2 Enjomet and Relaxation
        figure.img
          img.img1(src='style/images/Bitmap7-7.png', alt='#')
          img.img2(src='style/images/Bitmap16.png', alt='#')
          .img__shadow
          figcaption.img__title
            h2 Trevelling
    .main__title
      h2 Crate your holiday activity
    .main__form
      .subtitle
        h2 Hi! What are your holiday interests?
      form.form
        input(type='text', placeholder='Enter your insterests')
        button
          a(href='#') Search partners